*.pyc

# Python virtual env
venv

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Django sent emails requesting to reset user password
sent_emails

# Scrapyd deployment
build
dbs
eggs
project.egg-info
*.log
logs
twistd.pid

db.sqlite3
