/* Include all css */
@import url(variable.css);
@import url(../bootstrap-4.4.1/css/bootstrap.min.css);
@import url(../bootstrap-4.4.1/css/bootstrap-grid.min.css);
@import url(../bootstrap-4.4.1/css/bootstrap-reboot.min.css);
@import url(../fontawesome-5.13.0/css/fontawesome.min.css);
@import url(../fontawesome-5.13.0/css/all.min.css);
@import url(../fontawesome-5.13.0/css/brands.min.css);
@import url(../fontawesome-5.13.0/css/regular.min.css);
@import url(../fontawesome-5.13.0/css/solid.min.css);
@import url(../fontawesome-5.13.0/css/svg-with-js.min.css);
@import url(../fontawesome-5.13.0/css/v4-shims.min.css);
@import url(article.css);
@import url(leftnav_dock.css);
@import url(leftnav_list.css);
@import url(main_header.css);
@import url(slider_checkbox.css);
@import url(user_menu.css);
@import 'https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i';

* {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-primary-color);
  background-color: var(--bg-primary-color);
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

button:focus {
  box-shadow: none;
  border-color: var(--selected-color);
}

main {
  /* margin-top: calc(4em + 1px); */
  margin-left: calc(20em + 1px);
  position: relative;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--grey);
}

.right-0 {
  right: 0;
}

.right-1 {
  right: 1em;
}

.hidden {
  display: none;
}

.option {
  padding: 1rem 1rem;
}

button.submit {
  margin-top: 2rem;
}

.select-all {
  margin-bottom: 2rem;
  padding: 1rem 1rem;
}

.leftnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: calc(20em + 1px);
  position: fixed;
}

.content {
  padding: 5em 5em;
  /* position: relative; */
  /* z-index: -1; */
}

footer {
  font-size: 0.8em;
}

footer a {
  color: var(--text-secondary-color);
  text-decoration: underline;
}

footer a:hover {
  color: var(--text-primary-color);
}

.page-center {
  margin: 3em 0;
  position: relative;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 0);
}
