/* Include all css */
@import url(bootstrap-4.4.1/css/bootstrap.min.css);
@import url(bootstrap-4.4.1/css/bootstrap-grid.min.css);
@import url(bootstrap-4.4.1/css/bootstrap-reboot.min.css);
@import url(fontawesome-5.13.0/css/fontawesome.min.css);
@import url(fontawesome-5.13.0/css/all.min.css);
@import url(fontawesome-5.13.0/css/brands.min.css);
@import url(fontawesome-5.13.0/css/regular.min.css);
@import url(fontawesome-5.13.0/css/solid.min.css);
@import url(fontawesome-5.13.0/css/svg-with-js.min.css);
@import url(fontawesome-5.13.0/css/v4-shims.min.css);
@import "https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i";

:root {
  --bg-primary-color: white;
  --bg-secondary-color: #f6f7f8;
  --bg-hover-color: #efefef;
  --text-primary-color: #333333;
  --text-secondary-color: #888;
  --grey: #888;
  --light-grey: #ccc;
  --selected-color: #2bb24c;
  --article-title-color: #4caf50;
  --article-title-hover-color: #2e7d32;
  --leftnav-dock-width: calc(3em + 1px);
  --leftnav-list-width: 17em;
  --leftnav-width: calc(3em + 1px + 17em);
}

* {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-primary-color);
  background-color: var(--bg-primary-color);
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

button:focus {
  box-shadow: none;
  border-color: var(--selected-color);
}

main {
  /* margin-top: calc(4em + 1px); */
  margin-left: calc(20em + 1px);
  position: relative;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--grey);
}

.right-0 {
  right: 0;
}

.right-1 {
  right: 1em;
}

.hidden {
  display: none;
}

.leftnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: calc(20em + 1px);
  position: fixed;
}

.leftnav-dock {
  height: 100vh;
  width: var(--leftnav-dock-width);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--bg-hover-color);
}

.dock-item {
  width: 100%;
  /* margin: 1em 0; */
  font-size: 1.5em;
}

.dock-item:hover {
  background-color: var(--bg-hover-color);
}

.dock-item:last-child {
  margin-top: auto;
}

.dock-link {
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
}

.dock-link svg {
  margin: auto;
  color: var(--grey);
}

.user-menu {
  background-color: white;
  border: 1px solid var(--light-grey);
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  width: 15em;
  position: fixed;
  left: var(--leftnav-dock-width);
  bottom: 2em;
}

.user-menu.hidden {
  display: none;
}

.user-menu ul {
  list-style: none;
  margin: 0;
}

.user-menu__item {
  padding-left: 1em;
  font-size: 0.9em;
}

.user-menu__item:hover {
  background-color: var(--bg-hover-color);
}

.user-menu__item a:hover {
  text-decoration: none;
}

.user-menu__link {
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
}

.leftnav-list {
  list-style: none;
  height: 100vh;
  width: var(--leftnav-list-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: var(--bg-secondary-color);
}

.leftnav-list__nav {
  padding: 3em 0;
  width: 100%;
}

.leftnav-list__feed {
  width: 100%;
}

.leftnav-item {
  padding: 0 1.5em;
  width: 100%;
  color: var(--text-primary-color);
}

.leftnav-item:hover {
  background-color: var(--bg-hover-color);
}

.leftnav-item a:hover {
  text-decoration: none;
}

.leftnav-item__selected {
  background-color: var(--bg-hover-color);
  color: var(--selected-color);
  border-left: 3px solid var(--selected-color);
}

.leftnav-link {
  height: 2.5em;
  width: 100%;
  display: flex;
  align-items: center;
}

.leftnav-item__icon {
  width: 1.5em;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.leftnav-item__icon svg {
  margin: auto;
}

.leftnav-item__text {
  font-size: 0.9em;
  font-weight: 600;
}

.leftnav-list__heading {
  padding: 0 1.5em;
  font-size: 0.9em;
  text-transform: uppercase;
}

.top-headerbar {
  height: 5em;
  padding: 0 5em;
  background: var(--bg-primary-color);
  display: flex;
  align-items: center;
}

.top-headerbar h1 {
  font-weight: 600;
}

.header {
  height: 5em;
  padding: 0 5em;
  background: var(--bg-primary-color);
}

.header h1 {
  font-weight: 600;
}

.search-form {
  position: relative;
}

.search-submit {
  position: absolute;
  left: 0;
}

.search-input {
  padding-left: 42px;
  border-radius: 2em;
  border-color: var(--selected-color);
}

.search-input:focus {
  border-color: var(--selected-color);
  box-shadow: none;
}

.feed {
  padding: 5em 5em;
  /* position: relative; */
  /* z-index: -1; */
}

article {
  margin-bottom: 5em;
}

.thumb img {
  max-width: 100%;
}

.article-content {
  text-align: justify;
  position: relative;
}

.article-content__title {
  color: var(--article-title-color);
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-right: 2em;
  margin-left: 0;
}

.article-content__title:hover {
  text-decoration: none;
  color: var(--article-title-hover-color);
}

.article-content__metadata {
  /* font-size: 0.8em; */
  color: var(--text-secondary-color);
  margin-bottom: 0.5em;
  font-weight: 600;
}

.article-content__publisher-name {
  font-size: 0.8em;
}

.article-content__sapo {
  font-size: 0.8em;
  color: var(--text-secondary-color);
  overflow: hidden;
  margin-bottom: 0.5em;
}

button.save-for-later {
  padding-top: 0;
  color: var(--grey);
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}

button.save-for-later:focus {
  border: none;
}

.pagination > li > a {
  background-color: white;
  color: var(--article-title-color);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: var(--article-title-color);
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white !important;
  background-color: var(--article-title-color) !important;
  border: solid 1px var(--article-title-color);
  box-shadow: none !important;
}

.pagination > .active > a:hover {
  background-color: var(--article-title-hover-color);
  border: solid 1px var(--article-title-hover-color);
}

footer {
  font-size: 0.8em;
}

footer a {
  color: var(--text-secondary-color);
  text-decoration: underline;
}

footer a:hover {
  color: var(--text-primary-color);
}

.page-center {
  margin: 3em 0;
  position: relative;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 0);
}
