{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% block content %}

    {% endblock %}
    <script src="{% static 'jquery-3.5.0/jquery-3.5.0.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bootstrap-4.4.1/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bootstrap-4.4.1/js/bootstrap.bundle.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'fontawesome-5.13.0/js/all.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'fontawesome-5.13.0/js/brands.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'fontawesome-5.13.0/js/conflict-detection.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'fontawesome-5.13.0/js/fontawesome.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'fontawesome-5.13.0/js/regular.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'fontawesome-5.13.0/js/solid.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'fontawesome-5.13.0/js/v4-shims.min.js' %}" type="text/javascript" charset="utf-8"></script>
    
    <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $('#{{selected_leftnav_item}}').addClass('leftnav-item__selected');
    </script>
</body>
</html>
