{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="post" action="" class="page-center col-lg-4">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}"
                >{{ form.email.label }}</label
            >
            <input
                type="email"
                id="{{ form.email.id_for_label }}"
                name="{{ form.email.name }}"
                required=""
                class="form-control"
            />
        </div>
        <button type="submit" class="btn btn-success" style="width: 100%;">
            Lấy lại mật khẩu.
        </button>
    </form>
</div>
<footer class="container">
    <div class="footer page-center col-lg-4">
        <a href="{% url 'login' %}">Đã có tài khoản? Đăng nhập.</a><br />
        <a href="{% url 'register' %}">Chưa có tài khoản? Đăng ký.</a>
    </div>
</footer>
{% endblock content %}